.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #014ea2;
}

.notif-title{
    font-size: 20px;
    margin: 5px;
    color: #042f61;
    font-weight: 600;
}

.message{
    font-size: 17px;
    text-align: center;
}

.time{
    margin-top: 10px;
    font-size: 13px;
}

.modalImage{
    width: 25%;
}

@media (orientation: landscape) {
    .modalImage{
        width: 15%;
    }
}

.successButton{
    font-size: 16px;
    --color: #ffffff !important;
}

.modal-content{
    padding: 0px !important;
}

#container {
    min-height:100%;
    position:relative;
 }
 #header {
    padding:5px;
 }
 
 #footer {
    /* position:absolute; */
    bottom:0;
    width:100%;
    background: white;
 }

