<ion-header>
  <ion-toolbar class="appHeader">
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
  </ion-refresher>
  <!-- <mat-progress-bar mode="indeterminate" [color]="color" [hidden]="attendanceList"></mat-progress-bar> -->
  <ion-progress-bar [hidden]="attendanceList" type="indeterminate" color="danger" value="0.5" ></ion-progress-bar>
  <ion-item style="width: 100%; padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <ion-label>Select Month</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]='nrSelect' (ionChange)="onChangePayroll()">
      <ion-select-option *ngFor="let payroll of payrollList" [value]="payroll.Value"> {{payroll.Name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-chip color="secondary">
      <ion-label color="dark">Total by Shift: {{attendanceList?.TotalAllShift}}</ion-label>
    </ion-chip>

  <mat-list dense>
    <mat-list-item>
      <div class="attendance-list-head1">
        <b>Date</b>
      </div>
      <div class="attendance-list-head1">
        <b>Day</b>
      </div>
      <div class="attendance-list-head2">
        <b>Total by Shift</b>
      </div>
      <!-- <div class="attendance-list-head3">
        <b>Total by FI-LO</b>
      </div> -->
    </mat-list-item>
    <mat-divider></mat-divider>

    <div *ngIf="!attendanceList">
        <ion-list>
          <ion-item *ngFor="let item of [].constructor(8)">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
  </mat-list>

  <mat-expansion-panel id="id" [expanded]="isExpanded(attendance?.Date, today)" [ngStyle]="{'color': isCurrentPayroll && attendance?.Date < today && attendance?.InOut == '' && attendance?.AllShift == 0 ? 'red' : '',
                'background-color': isExpanded(attendance?.Date, today) ? '#f4f5f8' : ''}"
    *ngFor="let attendance of attendanceList?.AttendanceDetailModels" id="{{isExpanded(attendance?.Date, today) ? 'scroll_here' : ''}}">

    <mat-expansion-panel-header [ngStyle]="{'color': isCurrentPayroll && attendance?.Date < today && attendance?.InOut == '' && attendance?.AllShift == 0 ? 'red' : '',
                'background-color': isExpanded(attendance?.Date, today) ? '#f4f5f8' : ''}">
              
      <div class="attendance-list-head1">{{attendance?.Date}}</div>
      <div class="attendance-list-head1">{{attendance?.Date | date:'E'}}</div>
      <div class="attendance-list-head2">{{attendance?.AllShift}}</div>
      <!-- <div class="attendance-list-head3">{{attendance?.Filo}}</div> -->
    </mat-expansion-panel-header>
    <mat-panel-description
      [ngStyle]="{'color': isCurrentPayroll && attendance?.Date > today  && attendance?.InOut == '' && attendance?.AllShift == 0 ? 'red' : ''}">
      <div style="width:100%; text-align:center;" [innerHTML]="attendance?.InOut"></div>
    </mat-panel-description>
  </mat-expansion-panel>
  <!-- </mat-list> -->
  <!-- <mat-progress-bar mode="indeterminate" [color]="color" [hidden]="attendanceList"></mat-progress-bar> -->
</ion-content>
