<ion-tabs>

  <ion-tab-bar class="tabBar" slot="bottom">
    
    <ion-tab-button class="tabButton" tab="employeeHome">
      <ion-icon class="tabIcon" name="home"></ion-icon>
      <ion-label class="tabLabel">Home </ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabButton" tab="employeeAttendance">
      <ion-icon class="tabIcon" name="md-finger-print"></ion-icon>
      <ion-label class="tabLabel">Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabButton" tab="employeeProfile">
      <ion-icon class="tabIcon" name="paper"></ion-icon>
      <ion-label class="tabLabel">Profile</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button class="tabButton" tab="Notifications">
      <div>
        <ion-icon class="tabIcon" name="notifications"></ion-icon>
        <ion-badge class="notifBadge">22</ion-badge>
    </div>
    <ion-label style="margin-bottom: inherit;">Notifications</ion-label>
    </ion-tab-button> -->

    <ion-tab-button class="tabButton" tab="More">
      <ion-icon class="tabIcon" name="menu"></ion-icon>
      <ion-label class="tabLabel">More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>