
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Student List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <ion-progress-bar [hidden]="studentList" type="indeterminate" color="danger" value="0.5"></ion-progress-bar>
    <div *ngIf="!studentList">
        <ion-list>
          <ion-item *ngFor="let item of [].constructor(10)">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
  <ion-list style="padding: 0px;">

    <ion-chip color="secondary">
      <ion-label color="dark">Total Student: {{studentCount}}</ion-label>
    </ion-chip>

    <span *ngFor="let student of studentList">
      <ion-item >
          <ion-thumbnail slot="end">
              <ion-img class="Picture" src="{{'data:image/jpg;base64,' + student.User.PictureLocation}}"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2 >{{student?.User?.FullName}}
                <ion-icon name="ios-checkmark-circle" class="courseIcon" color="success"></ion-icon>
            </h2>
            <p >{{student?.StudentID}}</p>
            <p >CGPA: {{student?.Cgpa}} Credit Completed: {{student?.CreditCompleted}}</p>
            <p >Program: {{student?.Major?.Title}}</p>
          </ion-label>
        </ion-item>
      </span>
  </ion-list>
</ion-content>