<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Student List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let stdList of studentList" class="mainDiv">
  <div style="float: left">
      <div class="frame-square">
          <div class="crop">
              <ion-img class="Picture" src="{{'data:image/jpg;base64,' + stdList.PictureAsBase64}}" ></ion-img>
            </div>
        </div>
  </div>
  
  <div class="details">
    <p> 
      <b>{{ stdList.Student?.FullName }}</b>
      <ion-icon name="ios-checkmark-circle" class="courseIcon" color="success" [hidden]="!stdList.Valid"></ion-icon>
    </p>
    <tr>
      <td valign="top"><p class="element">Cgpa</p></td>
      <td valign="top"><p class="element">
          {{ stdList.Student?.Cgpa }}
      </p></td>
    </tr>

    <tr>
      <td valign="top"><p class="element">CreditCompleted</p></td>
      <td valign="top"><p class="element">
          {{ stdList.Student?.CreditCompleted }}
      </p></td>
    </tr>

    <tr>
      <td valign="top"><p class="element">Program </p></td>
      <td valign="top"><p class="element">
          {{ stdList.Student?.Program }}
      </p></td>
    </tr>
  </div>
</div>
      
</ion-content>
