<ion-header no-border>
    <ion-toolbar class="appHeader">
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="--background: #f7f1fe;" >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>

    <ion-progress-bar *ngIf="!studentProfile" type="indeterminate" color="danger" value="0.5"></ion-progress-bar>
      <div *ngIf="!studentProfile">
        <ion-list>
          <ion-item *ngFor="let item of [].constructor(10)">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>


    <div class="container">
        <div class="header" style="padding-top: 5px;">
            <ion-row style="padding: 5px;" justify-content-center align-items-center>
              <ion-thumbnail class="userProfilePic">
                <img src="{{'data:image/jpg;base64,' + userImage}}" /> 
              </ion-thumbnail>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <ion-label style="font-size: 24px;
                    /* font-weight: bold; */
                    color: whitesmoke;
                    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);"
                text-center>{{studentProfile?.FullName}}</ion-label>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <span style="font-size: 18px;margin-top: 5px;
                    color: whitesmoke;">{{studentProfile?.StudentID}}</span>
            </ion-row>
            <ion-row style="padding-bottom: 80px;" justify-content-center align-items-center>
              <span style="font-size: 15px;margin-top: 5px;
                    color: whitesmoke;">{{studentProfile?.Email}}</span>
            </ion-row>
          </div>
  
      <div class="userShortInfoCard">
        <ion-row justify-content-center align-items-center>
          <div class="shortInfoCard">
            <ion-row justify-content-center align-items-center>
              <ion-col class="infoHeaderTitle" text-center><span>Department</span></ion-col>
              <ion-col class="infoHeaderTitle" text-center>CGPA</ion-col>
              <ion-col class="infoHeaderTitle" text-center>Completed Credits</ion-col>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <ion-col text-center>{{studentProfile?.Department}}</ion-col>
              <ion-col text-center>{{studentProfile?.CGPA}}</ion-col>
              <ion-col text-center>{{studentProfile?.Credit}}</ion-col>
            </ion-row>
          </div>
        </ion-row>
  
        <div>
          <ion-segment [(ngModel)]="currentview">
            <!-- (ionChange)="viewChanged($event)" -->
            <ion-segment-button value="academic" (ionSelect)="showAcademicView()">
              <ion-label>Academic Info</ion-label>
            </ion-segment-button>
            <ion-segment-button value="personal" (ionSelect)="showPersonalView()">
              <ion-label>Personal Info</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
  
        <div>
          <div [ngSwitch]="currentview">
            <div *ngSwitchCase="'personal'">
  
              <!-- Phone Number -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Phone : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Phone}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Email  -->
               <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Email : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Email.toLowerCase()}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider> 
  
              <!-- Father Name  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Father Name : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.FatherName ? studentProfile?.FatherName : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
               <!-- Mother Name  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Mother Name : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.MotherName ? studentProfile?.MotherName : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
               <!-- Present Address -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Present Address : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.PresentAddress ? studentProfile?.PresentAddress : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Permanent Address  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Permanent Address : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.PermanentAddress ? studentProfile?.PermanentAddress : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Date of Birth  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Date of Birth : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.DOB | date:"dd-MMM-yy"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Gender  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Gender : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Sex}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
               <!-- Blood Group -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Blood Group : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.BloodGroup}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Marital Status  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Marital Status : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.MaritalStatus}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Religion  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Religion : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Religion}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
               <!-- Nationality  -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Nationality : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Nationality}}</ion-label>
                </ion-col>
              </ion-row>

              <!-- <table class="table">
                <tr>
                    <th>Phone Number</th>
                    <td>{{studentProfile?.Phone}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{studentProfile?.Email.toLowerCase()}}</td>
                </tr>
                <tr>
                    <th>Father Name</th>
                    <td>{{ studentProfile?.FatherName ? studentProfile?.FatherName : "N/A" }}</td>
                </tr>
                <tr>
                    <th>Mother Name</th>
                    <td>{{ studentProfile?.MotherName ? studentProfile?.MotherName : "N/A" }}</td>
                </tr>
                <tr>
                    <th>Present Address</th>
                    <td>{{ studentProfile?.PresentAddress ? studentProfile?.PresentAddress : "N/A" }}</td>
                </tr>
                <tr>
                    <th>Permanent Address </th>
                    <td>{{ studentProfile?.PermanentAddress ? studentProfile?.PermanentAddress : "N/A" }}</td>
                </tr>
                <tr>
                    <th>Date of Birth </th>
                    <td>{{ studentProfile?.DOB | date:"dd-MMM-yy" }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ studentProfile?.Sex }}</td>
                </tr>
                <tr>
                    <th>Blood Group</th>
                    <td>{{ studentProfile?.BloodGroup }}</td>
                </tr>
                <tr>
                    <th>Marital Status</th>
                    <td>{{ studentProfile?.MaritalStatus }}</td>
                </tr>
                <tr>
                    <th>Religion</th>
                    <td>{{ studentProfile?.Religion }}</td>
                </tr>
                <tr>
                    <th>Nationality</th>
                    <td>{{ studentProfile?.Nationality }}</td>
                </tr>
              </table> -->
  
            </div>
  
            <div *ngSwitchCase="'academic'">
              <!-- CGPA -->
              <!-- <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>CGPA : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.CGPA}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider> -->
  
              <!-- Completed Credits -->
              <!-- <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Completed Credits : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Credit}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider> -->
  
              <!-- Program -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Program : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Program}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Department -->
              <!-- <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Department : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{studentProfile?.Department}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider> -->
  
              <!-- Core -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Core : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.Core ? studentProfile?.Core : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Major -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Major : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.Major ? studentProfile?.Major : "N/A" }}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Second Major -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Second Major : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.SecondMajor ? studentProfile?.SecondMajor : "N/A"}}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Minor -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Minor : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.Minor ? studentProfile?.Minor : "N/A" }}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Elective -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Elective : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.Elective ? studentProfile?.Elective : "N/A" }}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Admission Date -->
              <ion-row>
                <ion-col class="dataLabel">
                  <ion-label>Admission Date : </ion-label>
                </ion-col>
                <ion-col class="dataValue">
                  <ion-label>{{ studentProfile?.AdmissionDate ? studentProfile?.AdmissionDate : "N/A" }}</ion-label>
                </ion-col>
              </ion-row>
              <mat-divider style="padding: 2px;"></mat-divider>
  
              <!-- Graduation Date -->
              <ion-row>
                  <ion-col class="dataLabel">
                    <ion-label>Graduation Date : </ion-label>
                  </ion-col>
                  <ion-col class="dataValue">
                    <ion-label>{{ studentProfile?.GraduationDate ? studentProfile?.GraduationDate : "N/A" }}</ion-label>
                  </ion-col>
                </ion-row>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
