.subMenuPanel {
  display: unset;
  margin: 0px !important;
  background-color: whitesmoke;
}

ion-select{
    max-width: 80% !important;
}

.a{
  align-self: center;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 4%;
  width: 29.33%;
  outline: 0 !important;
}