// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.width100 {
  width: 100%;
}

ion-modal.popup-modal-css {
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .modal-content {
      overflow: auto;
      padding: 10px;
    }
  }
}

.popup-modal-css .modal-wrapper {
  width: 85%;
  border-radius: 10px;
}

ion-toolbar {
  --color: var(--ion-color-primary-contrast);
}
