<ion-tabs>

  <ion-tab-bar class="tabBar" slot="bottom">
    
    <ion-tab-button class="tabButton" tab="studentHome">
      <ion-icon class="tabIcon" name="home"></ion-icon>
      <ion-label class="tabLabel">Home </ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabButton" tab="studentProfile">
      <ion-icon class="tabIcon" name="paper"></ion-icon>
      <ion-label class="tabLabel">Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabButton" tab="studentCoursesANDresults">
      <ion-icon class="tabIcon" name="paper"></ion-icon>
      <ion-label class="tabLabel">Course</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tabButton" tab="studentMenu">
      <ion-icon class="tabIcon" name="menu"></ion-icon>
      <ion-label class="tabLabel">More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>