<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create Contact Form</mat-card-title>
        </mat-card-header>
        
            <mat-card-content>
                <form>
                    <mat-form-field>
                        <mat-label>Contact Address</mat-label>
                        <textarea [(ngModel)]="feedback.Description"  matInput></textarea>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
            <!-- put buttons here -->
            </mat-card-actions>
        </mat-card>
</ion-content>
